<script type="text/template" id="search_template">
        <form class="navbar-search pull-left" id="search-form">
        <input type="text" class="search-query autocomplete" data-provide="typeahead" data-items="10" placeholder="Search for homes in...">
        </form>
        <ul class="nav" id="nav-container">
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">More Search Options <b class="caret"></b></a>
            <ul class="dropdown-menu span4" id="advanced-search">
              <form class="form-horizontal" id="advanced-form" >
              <input type="hidden" name="mintown" value="">
              <input type="hidden" name="maxtown" value="">
              <li class="nav-header">Price</li>
              <li class="advanced-input">
                  <div class="control-group" data-control-group="price" rel="tooltip">                
                    <div class="input-prepend" >
                      <span class="add-on">$</span><input name="minprice" type="text" class="span1" placeholder="Min">
                    </div>
                    <span class="to">To</span>  
                    <div class="input-prepend">
                      <span class="add-on">$</span><input name="maxprice" type="text" class="span1" placeholder="Max">
                    </div>
                  </div>
              </li>
              <li class="nav-header">Beds &amp; Baths</li>
              <li class="advanced-input">
                  <div class="control-group" data-control-group="bedbath">
                    <label class="inline-block">
                    <select name="beds" class="span1 advanced-select">
                      <option value="1">1+</option>
                      <option value="2">2+</option>
                      <option value="3">3+</option>
                      <option value="4">4+</option>
                    </select>
                    Beds
                    </label>
                    <label class="inline-block">
                    <select name="baths" class="span1 advanced-select">
                      <option value="1">1+</option>
                      <option value="2">2+</option>
                      <option value="3">3+</option>
                      <option value="4">4+</option>
                    </select>
                    Baths
                  </label>
                  </div>
              </li>
              <li class="nav-header">Square Feet</li>
              <li class="advanced-input">
                  <div class="control-group" data-control-group="squarefeet">
                  <div class="input-append">
                    <input name="minsqft" type="text" class="span1" placeholder="Min"><span class="add-on">Sqft</span>
                  </div>
                  <span class="to">To</span>  
                  <div class="input-append">
                    <input name="maxsqft" type="text" class="span1" placeholder="Max"><span class="add-on">sqft</span>
                  </div>
                  </div>
                  <input type="submit" class="btn btn-primary" id="advanced-save" value="save">
              </li>
              </form>
            </ul>
          </li>
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="sort-dropdown">Sort By: Newest <b class="caret"></b></a>
            <ul class="dropdown-menu span3" id="advanced-search">
                <li><a href="#" class="sort" data-sort="newest">Newest</a></li>
                <li><a href="#" class="sort" data-sort="priceasc">Price (Lowest to Highest)</a></li>
                <li><a href="#" class="sort" data-sort="pricedsc">Price (Highest to Lowest)</a></li>
                <li><a href="#" class="sort" data-sort="numphoto">Number of Photos</a></li>
            </ul>
          </li>
          <li class="divider-vertical"></li>
        </ul>
</script>