<script type="text/template" id="tiles_template">
        <div class="row-fluid" id="content">
            <div class="span12" id="tiles">
    

            </div>
        </div><!-- row-fluid -->
</script>