<script type="text/template" id="tile_template">
    <div class="tile">
         <div class="padded">
                <a href="/listings/<%%= id %>/<%%= address_slug %>">
                <img src="/images/<%%= photo_url %>" alt="<%%= street_no_titleized %> <%%= street_name_titleized %>, <%%= town.    long %>, <%%= town.state %>" />
                </a>
                <div class="tags clearfix">
                    <span class="price badge badge-success"><%%= list_price_currency %></span>
                    <span class="address clearfix"><strong title='<%%= street_no_titleized %> <%%= street_name_titleized %>'><%%=   address_truncated %></strong></span>
                     <span class="location"><%%= town.long %>, <%%= town.state %> </span>
                </div>
         </div>
         <div class="gray-area">
             <div class="gray-section-wrapper clearfix">
                 <div class="gray-section">
                     <%%= no_bedrooms %> Beds
                 </div>
                 <div class="gray-section gray-section-middle">
                     <%%= no_full_baths + no_half_baths %> Baths
                 </div>
                 <div class="gray-section gray-section-right">
                     <%%= square_feet_delimited %> sqft
                 </div>
             </div>
         </div>
    </div> <!-- .tile -->
</script>
