

        <div class="row-fluid" id="content">
            <div class="span12" id="tiles">
    

            </div>
        </div><!-- row-fluid -->

<!-- backbone templates -->
<%= render :partial => "backbone/initialListings", :object => :listings %>







