@mixin shadow1 {
    box-shadow: 0 5px 5px rgba(34,25,25,0.4);
    -moz-box-shadow: 0 5px 5px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 5px 5px rgba(34,25,25,0.4);

}

@mixin shadow2 {
    box-shadow: 0 5px 15px #468847;
    -moz-box-shadow: 0 5px 15px #468847;
    -webkit-box-shadow: 0 5px 15px #468847;

}