// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "effects";

div#main-listing {
    background: white;
    //min-height: 500px; 

    @include shadow1;
    padding: 20px;

    .progress {
        position: aboslute;
        width: 270px;
        margin: 0px auto;
        margin-top: 200px;
    }

    div.column-left {
        min-height: 600px;
    }

    img {
        width: 100%;
    }

    div#single-tiles {

        position: relative;

        div.single-tile {

            border: 1px solid white;
            img {
                width: 100%;
            }
    
            width: 175px;
            @include shadow1;
            cursor: pointer;

            &.active {
                @include shadow2;
            }

            &:hover {
                @include shadow2;
            };
        }



    }

    div.jspVerticalBar {
        visibility: hidden;
    }

}